.weekdays {
       width: 150px;
       margin: auto;
}

ul {
    list-style: none;
}

.weekdays {
    padding: 8px;
    border: 2px solid #000;
}

.weekdays li {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #000;
    border-bottom: 1px solid #000;
}